@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}
.patientOverviewDashboard {
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "patientOverviewDashboardFirstCard patientOverviewDashboardFirstCard"
    "patientOverviewDashboardSecondCard patientOverviewDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.patientOverviewDashboardFirstCard {
  background-color: #282c34;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: patientOverviewDashboardFirstCard;
  color: #fff;
}
.patientOverviewDashboardSecondCard {
  background-color: #f6f7f9;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: patientOverviewDashboardSecondCard;
}
.patientOverviewDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.patientOverviewDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}
.patientOverviewDashboardNavImage {
  background-color: #14ac5f;
  padding: 4px 15px;
  border-radius: 50%;
  color: var(--navBarBg);
}
.patientOverviewLogOutButton {
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  color: var(--navBarBg);
}
.patientOverviewLogOutButton:hover {
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}

.patientMedicalRecordContainer {
  width: 65%;

  margin: auto;
}
.patientMedicalRecordHeader {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.patientMedicalRecordContent {
  width: 75%;
  margin: auto;
  padding: 13px;
  border: 0.8px solid rgb(6, 42, 74);
}

.rcb-chat-header-container h3 {
  color: red;
  display: none;
}
.rcb-chat-footer-container {
  display: none;
  background-color: red;
}
.rcb-chat-footer-container span {
  display: none;
}
@media (max-width: 320px) {
  .patientOverviewDashboardLogOutContainer {
    justify-content: space-between;
    width: 70%;
  }
  .patientOverviewDashboardNavImage {
    padding: 4px 12px;
    font-size: 22px;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .patientOverviewDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .patientOverviewDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}
