@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}
.receptionRegisterDashboard {
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "receptionRegisterDashboardFirstCard receptionRegisterDashboardFirstCard"
    "receptionRegisterDashboardSecondCard receptionRegisterDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.receptionRegisterDashboardFirstCard {
  background-color: #f0f8ff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: receptionRegisterDashboardFirstCard;
}
.receptionRegisterDashboardSecondCard {
  background-color: #f6f7f9;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: receptionRegisterDashboardSecondCard;
}
.receptionRegisterDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.receptionRegisterDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
.receptionRegisterDashboardNavImage {
  background-color: #14ac5f;
  padding: 4px 15px;
  border-radius: 50%;
  color: var(--navBarBg);
}
.receptionRegisterLogOutButton {
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  color: var(--navBarBg);
}
.receptionRegisterLogOutButton:hover {
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}

.receptionRegisterContainer {
  gap: 8px;
  width: 25%;
  /* height: 78vh; */
  margin: auto;
  display: flex;
  border-width: 4px;
  padding: 10px 7px;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  /* background: rgba(255, 255, 255, 0.89); */
  border-color: rgba(219, 219, 219, 0.123);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(71, 71, 71, 0.043);
  background-color: var(--navBarBg);
}
.receptionRegisterLoginTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-bottom: 22px;
}
.receptionRegisterLoginTitle h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  display: flex;
}
.receptionRegisterLoginName {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.receptionRegisterLoginNameIcon {
  font-size: 19px;
  padding-top: 14px;
  color: var(--mainColor);
}
.receptionRegisterLoginPassword {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.receptionRegisterPasswordContainer {
  position: relative;
  width: 100%;
}
.receptionRegisterLoginInputs {
  width: 100%;
}

.receptionRegisterShowPassword {
  top: 59%;
  right: 10px;
  color: #555;
  cursor: pointer;
  position: absolute;
  transition: color 0.3s;
  transform: translateY(-50%);
}
.receptionRegisterShowPassword:hover {
  color: #333;
}

.receptionRegisterLoginPageButton {
  font-weight: 600;
  font-size: 18px;
  padding: 8px 23px;
  width: 100%;
  border-radius: 10px;
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  background-color: transparent;
}
.receptionRegisterLoginPageButton:hover {
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.4));
}
.receptionRegisterLoginCopyRightContainer {
  width: 100%;
  height: 19vh;
  display: flex;
  align-items: flex-end;
  /* background-color: orange; */
}
.receptionRegisterLoginCopyRightContainer p {
  text-align: center;
}

.receptionRegisterRecaptchaContainer {
  transform: scale(0.93);
  transform-origin: 0 0;
}

#receptionRegisterSelectOption {
  font-size: 16px;
  border: none;
  padding: 8px 0px 5px 0px;
  border-bottom: 1px solid gray;
}

@media (max-width: 320px) {
  .receptionRegisterDashboardLogOutContainer {
    justify-content: space-between;
    /* background-color: aliceblue; */
    width: 70%;
  }
  .receptionRegisterDashboardNavImage {
    padding: 4px 12px;
    font-size: 22px;
  }
  /* main start here */

  .receptionRegisterContainer {
    width: 100%;
    height: 90%;
  }
  .receptionRegisterLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-bottom: 0px;
  }

  .receptionRegisterLoginTitle h2 {
    font-size: 22px;
    line-height: 32px;
  }
  .receptionRegisterLoginName {
    gap: 11px;
  }
  .receptionRegisterLoginPassword {
    margin-bottom: 7px;
  }

  .receptionRegisterLoginPageButton {
    font-size: 15px;
  }
  .receptionRegisterLoginCopyRightContainer {
    height: 8vh;
  }
  .receptionRegisterLoginCopyRightContainer p {
    font-size: 13px;
  }

  .receptionRegisterRecaptchaContainer {
    transform: scale(0.68);
    transform-origin: 0 0;
  }
  /* main end here */
}

@media (min-width: 321px) and (max-width: 640px) {
  .receptionRegisterDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
  /* main start here */

  .receptionRegisterContainer {
    width: 100%;
    height: 90%;
  }

  .receptionRegisterLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 16px;
  }

  .receptionRegisterLoginTitle h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .receptionRegisterLoginName {
    gap: 12px;
  }
  .receptionRegisterLoginPageButton {
    font-size: 17px;
  }
  .receptionRegisterLoginCopyRightContainer p {
    font-size: 15px;
  }
  .receptionRegisterLoginCopyRightContainer {
    height: 11vh;
  }
  .receptionRegisterRecaptchaContainer {
    transform: scale(0.84);
    transform-origin: 0 0;
  }
  /* main end here */
}

@media (min-width: 641px) and (max-width: 1024px) {
  .receptionRegisterDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
  /* main start here */
  /* .RegisterContainer {
    width: 100%;
    height: 80%;
  } */
  .receptionRegisterContainer {
    width: 45%;
    height: 77vh;
  }
  .receptionRegisterLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 16px;
  }

  .receptionRegisterLoginTitle h2 {
    font-size: 34px;
    line-height: 44px;
  }
  .receptionRegisterLoginName {
    gap: 12px;
  }
  .receptionRegisterLoginInputs {
    font-size: 33px;
    width: 80%;
  }

  .receptionRegisterLoginPageButton {
    font-size: 21px;
  }
  .receptionRegisterLoginCopyRightContainer p {
    font-size: 19px;
  }
  .receptionRegisterLoginCopyRightContainer {
    height: 11vh;
  }
  .receptionRegisterRecaptchaContainer {
    transform: scale(0.84);
    transform-origin: 0 0;
  }
  /* main end here */
}
