@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}
.labRootDashboard {
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "labRootDashboardFirstCard labRootDashboardFirstCard"
    "labRootDashboardSecondCard labRootDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.labRootDashboardFirstCard {
  background-color: #282c34;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: labRootDashboardFirstCard;
  color: white;
}
.labRootDashboardSecondCard {
  background-color: #f6f7f9;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: labRootDashboardSecondCard;
}
.labRootDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.labRootDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}
.labRootDashboardNavImage {
  background-color: #14ac5f;
  padding: 4px 15px;
  border-radius: 50%;
  color: var(--navBarBg);
}

@media (max-width: 320px) {
  .labRootDashboardLogOutContainer {
    justify-content: space-between;
    width: 70%;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .labRootDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .labRootDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}
