@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
:root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
  --dashboardBg: #2f4050;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}
.adminDeleteDashboard {
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "adminDeleteDashboardFirstCard adminDeleteDashboardFirstCard"
    "adminDeleteDashboardSecondCard adminDeleteDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.adminDeleteDashboardFirstCard {
  background-color: #f0f8ff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: adminDeleteDashboardFirstCard;
}
.adminDeleteDashboardSecondCard {
  background-color: #f6f7f9;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: adminDeleteDashboardSecondCard;
}
.adminDeleteDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBarHamburger {
  font-size: 28px;
}
.navBarHamburger:hover {
  cursor: pointer;
}
.adminDeleteDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
.adminDeleteDashboardNavImage {
  background-color: #14ac5f;
  padding: 4px 15px;
  border-radius: 50%;
  color: var(--navBarBg);
}
.adminDeleteLogOutButton {
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  color: var(--navBarBg);
}
.adminDeleteLogOutButton:hover {
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}

.adminDeleteBodyUpdateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: none;
}
.adminDeleteContainer {
  gap: 8px;
  width: 25%;
  margin: auto;
  display: flex;
  border-width: 4px;
  padding: 10px 7px;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  border-color: rgba(219, 219, 219, 0.123);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(71, 71, 71, 0.043);
  background-color: var(--navBarBg);
}
.adminDeleteLoginTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-bottom: 22px;
}
.adminDeleteLoginTitle h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  display: flex;
}
.adminDeleteFormContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.adminDeleteLoginName {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.adminDeleteLoginNameIcon {
  font-size: 19px;
  padding-top: 14px;
  color: var(--mainColor);
}

.adminDeleteLoginPassword {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.adminDeletePasswordContainer {
  position: relative;
  width: 100%;
}

.adminDeleteLoginInputs {
  outline: none;
  width: 100%;
}
.adminDeleteShowPassword {
  top: 59%;
  right: 10px;
  color: #555;
  cursor: pointer;
  position: absolute;
  transition: color 0.3s;
  transform: translateY(-50%);
}
.adminDeleteShowPassword:hover {
  color: #333;
}

.adminDeleteLoginPageButton {
  font-weight: 600;
  font-size: 18px;
  padding: 8px 23px;
  width: 100%;
  border-radius: 10px;
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  background-color: transparent;
}
.adminDeleteLoginPageButton:hover {
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.4));
}
.adminDeleteLoginCopyRightContainer {
  width: 100%;
  height: 19vh;
  display: flex;
  align-items: flex-end;
  /* background-color: orange; */
}
.adminDeleteLoginCopyRightContainer p {
  text-align: center;
}
#adminDeleteSelectOption {
  font-size: 16px;
  border: none;
  padding: 8px 0px 5px 0px;
  border-bottom: 1px solid gray;
}

@media (max-width: 320px) {
  .adminDeleteDashboardLogOutContainer {
    justify-content: space-between;
    /* background-color: aliceblue; */
    width: 70%;
  }
  .adminDeleteDashboardNavImage {
    padding: 4px 12px;
    font-size: 22px;
  }
  /* main start here */

  .adminDeleteFormContainer {
    display: block;
  }
  .adminDeleteBodyUpdateContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .adminDeleteContainer {
    width: 100%;
    height: 90%;
  }
  .adminDeleteLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-bottom: 0px;
  }

  .adminDeleteLoginTitle h2 {
    font-size: 22px;
    line-height: 32px;
  }
  .adminDeleteLoginName {
    gap: 11px;
  }
  .adminDeleteLoginPassword {
    margin-bottom: 7px;
  }

  .adminDeleteLoginPageButton {
    font-size: 15px;
  }
  .adminDeleteLoginCopyRightContainer {
    height: 8vh;
  }
  .adminDeleteLoginCopyRightContainer p {
    font-size: 13px;
  }
  /* main end here */
}

@media (min-width: 321px) and (max-width: 640px) {
  .adminDeleteDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }

  /* main start here */

  .adminDeleteFormContainer {
    display: block;
  }
  .adminDeleteBodyUpdateContainer {
    height: 70%;
    width: 100%;
    overflow: hidden;
  }

  .adminDeleteContainer {
    width: 100%;
    height: 90%;
  }

  .adminDeleteLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 16px;
  }

  .adminDeleteLoginTitle h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .adminDeleteLoginName {
    gap: 12px;
  }

  .adminDeleteLoginPageButton {
    font-size: 17px;
  }
  .adminDeleteLoginCopyRightContainer p {
    font-size: 15px;
  }
  .adminDeleteLoginCopyRightContainer {
    height: 11vh;
  }

  /* main end here */
}

@media (min-width: 641px) and (max-width: 1024px) {
  .adminDeleteDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }

  /* main start here */

  .adminDeleteFormContainer {
    display: block;
  }
  .adminDeleteBodyUpdateContainer {
    height: 90%;
    width: 100%;
    overflow: hidden;
  }

  .adminDeleteContainer {
    width: 45%;
    height: 77vh;
  }
  .adminDeleteLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 16px;
  }

  .adminDeleteLoginTitle h2 {
    font-size: 34px;
    line-height: 44px;
  }
  .adminDeleteLoginName {
    gap: 12px;
  }

  .adminDeleteLoginInputs {
    font-size: 33px;
    width: 80%;
  }

  .adminDeleteLoginPageButton {
    font-size: 21px;
  }
  .adminDeleteLoginCopyRightContainer p {
    font-size: 19px;
  }

  /* main end here */
}
