@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
:root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
  --dashboardBg: #2f4050;
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}
.adminOverviewDashboard {
  list-style: none;
  text-decoration: none;
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "adminOverviewDashboardFirstCard adminOverviewDashboardFirstCard"
    "adminOverviewDashboardSecondCard adminOverviewDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.adminOverviewDashboardFirstCard {
  background-color: #282c34;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: adminOverviewDashboardFirstCard;
  color: #fff;
}
.adminOverviewDashboardSecondCard {
  background-color: #f0f8ff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: adminOverviewDashboardSecondCard;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 400px; /* Two columns */
  grid-template-rows: 1fr; /* One row */
  grid-template-areas: "adminOverviewDashboardSecondThirdCard adminOverviewDashboardSecondSecondCard"; /* Define areas for the two columns */
}

.adminOverviewDashboardSecondSecondCard {
  grid-area: adminOverviewDashboardSecondSecondCard;
  background-color: #fff;
  /* filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2)); */
}

.adminOverviewDashboardSecondThirdCard {
  grid-area: adminOverviewDashboardSecondThirdCard;
  background-color: #fff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}

.adminOverviewDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adminOverviewDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}
.adminOverviewDashboardNavImage {
  background-color: #14ac5f;
  padding: 4px 15px;
  border-radius: 50%;
  color: var(--navBarBg);
}
.adminOverviewLogOutButton {
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  color: var(--navBarBg);
}
.adminOverviewLogOutButton:hover {
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}
.adminOverviewCalendar {
  width: 80%;
  height: 96%;
  border: none;
  box-shadow: 4px 4px 20px 8px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  background-color: aliceblue;
}
.adminOverviewBarChart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83%;
  margin: auto;
}
.adminOverviewAddListContainer {
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.adminOverViewAddListButton {
  border: none;
  font-size: 16px;
  color: var(--navBarBg);
  padding: 8px 20px;
  background-color: var(--mainColor);
}
.adminOverViewAddListButton:hover {
  cursor: pointer;
  scale: 1.02;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 320px) {
  .adminOverviewDashboardLogOutContainer {
    justify-content: space-between;
    /* background-color: aliceblue; */
    width: 70%;
  }
  .adminOverviewDashboardNavImage {
    padding: 4px 12px;
    font-size: 22px;
  }
  .adminOverviewDashboardSecondCard {
    gap: 25px;
    padding: 15px;
    /* display: grid; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: initial;
  }
  .adminOverviewDashboardSecondFirstCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondSecondCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondThirdCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondFourthCard {
    grid-area: initial !important;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .adminOverviewDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
  .adminOverviewDashboardSecondCard {
    gap: 25px;
    padding: 15px;
    /* display: grid; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: initial;
  }
  .adminOverviewDashboardSecondFirstCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondSecondCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondThirdCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondFourthCard {
    grid-area: initial !important;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .adminOverviewDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
  .adminOverviewDashboardSecondCard {
    gap: 25px;
    padding: 15px;
    /* display: grid; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: initial;
  }
  .adminOverviewDashboardSecondFirstCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondSecondCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondThirdCard {
    grid-area: initial !important;
  }
  .adminOverviewDashboardSecondFourthCard {
    grid-area: initial !important;
  }
}
