@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
:root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
  --dashboardBg: #2f4050;
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}
.adminUpdateDashboard {
  list-style: none;
  text-decoration: none;
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "adminUpdateDashboardFirstCard adminUpdateDashboardFirstCard"
    "adminUpdateDashboardSecondCard adminUpdateDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.adminUpdateDashboardFirstCard {
  background-color: #f0f8ff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: adminUpdateDashboardFirstCard;
}
.adminUpdateDashboardSecondCard {
  background-color: #f6f7f9;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: adminUpdateDashboardSecondCard;
}
.adminUpdateDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBarHamburger {
  font-size: 28px;
}
.navBarHamburger:hover {
  cursor: pointer;
}
.adminUpdateDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
.adminUpdateDashboardNavImage {
  background-color: #14ac5f;
  padding: 4px 15px;
  border-radius: 50%;
  color: var(--navBarBg);
}
.adminUpdateLogOutButton {
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  color: var(--navBarBg);
}
.adminUpdateLogOutButton:hover {
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}

.adminUpdateBodyUpdateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: none;
}
.adminUpdateContainer {
  gap: 8px;
  width: 25%;
  margin: auto;
  display: flex;
  border-width: 4px;
  padding: 10px 7px;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  border-color: rgba(219, 219, 219, 0.123);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(71, 71, 71, 0.043);
  background-color: var(--navBarBg);
}
.adminUpdateLoginTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-bottom: 22px;
}
.adminUpdateLoginTitle h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  display: flex;
}
.adminUpdateFormContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.adminUpdateLoginName {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.adminUpdateLoginNameIcon {
  font-size: 19px;
  padding-top: 14px;
  color: var(--mainColor);
}

.adminUpdateLoginPassword {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.adminUpdatePasswordContainer {
  position: relative;
  width: 100%;
}

.adminUpdateLoginInputs {
  width: 100%;
}
.adminUpdateShowPassword {
  top: 59%;
  right: 10px;
  color: #555;
  cursor: pointer;
  position: absolute;
  transition: color 0.3s;
  transform: translateY(-50%);
}
.adminUpdateShowPassword:hover {
  color: #333;
}

.adminUpdateLoginPageButton {
  font-weight: 600;
  font-size: 18px;
  padding: 8px 23px;
  width: 100%;
  border-radius: 10px;
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  background-color: transparent;
}
.adminUpdateLoginPageButton:hover {
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.4));
}
.adminUpdateLoginCopyRightContainer {
  width: 100%;
  height: 19vh;
  display: flex;
  align-items: flex-end;
  /* background-color: orange; */
}
.adminUpdateLoginCopyRightContainer p {
  text-align: center;
}
#adminUpdateSelectOption {
  font-size: 16px;
  border: none;
  padding: 8px 0px 5px 0px;
  border-bottom: 1px solid gray;
}

@media (max-width: 320px) {
  .adminUpdateDashboardLogOutContainer {
    justify-content: space-between;
    /* background-color: aliceblue; */
    width: 70%;
  }
  .adminUpdateDashboardNavImage {
    padding: 4px 12px;
    font-size: 22px;
  }
  /* main start here */

  .adminUpdateFormContainer {
    display: block;
  }
  .adminUpdateBodyUpdateContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .adminUpdateContainer {
    width: 100%;
    height: 90%;
  }
  .adminUpdateLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-bottom: 0px;
  }

  .adminUpdateLoginTitle h2 {
    font-size: 22px;
    line-height: 32px;
  }
  .adminUpdateLoginName {
    gap: 11px;
  }
  .adminUpdateLoginPassword {
    margin-bottom: 7px;
  }

  .adminUpdateLoginPageButton {
    font-size: 15px;
  }
  .adminUpdateLoginCopyRightContainer {
    height: 8vh;
  }
  .adminUpdateLoginCopyRightContainer p {
    font-size: 13px;
  }
  /* main end here */
}

@media (min-width: 321px) and (max-width: 640px) {
  .adminUpdateDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }

  /* main start here */

  .adminUpdateFormContainer {
    display: block;
  }
  .adminUpdateBodyUpdateContainer {
    height: 70%;
    width: 100%;
    overflow: hidden;
  }

  .adminUpdateContainer {
    width: 100%;
    height: 90%;
  }

  .adminUpdateLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 16px;
  }

  .adminUpdateLoginTitle h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .adminUpdateLoginName {
    gap: 12px;
  }

  .adminUpdateLoginPageButton {
    font-size: 17px;
  }
  .adminUpdateLoginCopyRightContainer p {
    font-size: 15px;
  }
  .adminUpdateLoginCopyRightContainer {
    height: 11vh;
  }

  /* main end here */
}

@media (min-width: 641px) and (max-width: 1024px) {
  .adminUpdateDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }

  /* main start here */

  .adminUpdateFormContainer {
    display: block;
  }
  .adminUpdateBodyUpdateContainer {
    height: 90%;
    width: 100%;
    overflow: hidden;
  }

  .adminUpdateContainer {
    width: 45%;
    height: 77vh;
  }
  .adminUpdateLoginTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 16px;
  }

  .adminUpdateLoginTitle h2 {
    font-size: 34px;
    line-height: 44px;
  }
  .adminUpdateLoginName {
    gap: 12px;
  }

  .adminUpdateLoginInputs {
    font-size: 33px;
    width: 80%;
  }

  .adminUpdateLoginPageButton {
    font-size: 21px;
  }
  .adminUpdateLoginCopyRightContainer p {
    font-size: 19px;
  }
  .loginadminUpdateLoginCopyRightContainerCopyRightContainer {
    height: 11vh;
  }
  /* main end here */
}
