@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}
.adminViewMessagesDashboard {
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "adminViewMessagesDashboardFirstCard adminViewMessagesDashboardFirstCard"
    "adminViewMessagesDashboardSecondCard adminViewMessagesDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.adminViewMessagesDashboardFirstCard {
  background-color: #f0f8ff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: adminViewMessagesDashboardFirstCard;
}
.adminViewMessagesDashboardSecondCard {
  background-color: #f6f7f9;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: adminViewMessagesDashboardSecondCard;
}
.adminViewMessagesDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adminViewMessagesDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
.adminViewMessagesDashboardNavImage {
  background-color: #14ac5f;
  padding: 4px 15px;
  border-radius: 50%;
  color: var(--navBarBg);
}
.adminViewMessagesLogOutButton {
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  color: var(--navBarBg);
}
.adminViewMessagesLogOutButton:hover {
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}
.adminViewMessagesTableContainer {
  padding: 25px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media (max-width: 320px) {
  .adminViewMessagesDashboardLogOutContainer {
    justify-content: space-between;
    /* background-color: aliceblue; */
    width: 70%;
  }
  .adminViewMessagesDashboardNavImage {
    padding: 4px 12px;
    font-size: 22px;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .adminViewMessagesDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .adminViewMessagesDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}
