@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
  --bodyColor: #000;
  --bodyLink: navy;
}
[data-theme="dark"] {
  --navBarBg: #282c34;
  --bodyColor: white;
  --bodyLink: cyan;
}
.doctorOverViewMainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.promptResult {
  width: 96%;
  float: left;
  margin-left: 14px;
  margin-top: 12px;
  text-align: justify;
}

.promtResultImage {
  width: 50px;
  float: left;
  margin-right: 12px;
}

.geminiSkeleton {
  margin-left: 50px;
  width: 96%;
}
.geminiContainer {
  height: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: max-content;
  height: max-content;
}
.promptContainer {
  width: 100%;
  margin: auto;
  color: var(--bodyColor);
  display: flex;
  flex-direction: row;
  border-radius: 14px;
  margin-bottom: 12px;
  margin-left: 12px;
  align-items: flex-start;
  padding: 21px 32px 10px 16px;
  border: 0.5px solid var(--mainColor);
}

.promptInput {
  border: none;
  width: 800px;
  color: var(--bodyColor);
  outline: none;
  font-size: 18px;
  text-align: justify;
  background: transparent;
  text-transform: capitalize;
  padding: 0px 10px 10px 10px;
}
.formIcon {
  padding: 2px 3px;
  transition: 400ms all;
}
.formIcon:hover {
  cursor: pointer;
  font-weight: 900;
  color: var(--navBarBg);
  background-color: var(--mainColor);
}

@media (max-width: 320px) {
  .doctorOverViewMainContainer {
    width: 90%;
  }
  .promptContainer {
    margin-bottom: 2px;
    margin-left: 0px;
    padding: 21px 32px 10px 16px;
  }
  .promptInput {
    width: 200px;
    font-size: 18px;
    padding: 0px 10px 10px 10px;
  }

  .promptResult {
    width: 92%;
    margin-left: 31px;
  }

  .promtResultImage {
    width: 50px;
    margin-right: 12px;
  }
  .geminiSkeleton {
    margin-left: 50px;
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .doctorOverViewMainContainer {
    width: 90%;
  }
  .promptContainer {
    margin-bottom: 2px;
    margin-left: 0px;
    padding: 21px 32px 10px 16px;
  }
  .promptInput {
    width: 310px;
    font-size: 18px;
    padding: 0px 10px 10px 10px;
  }

  .promptResult {
    width: 92%;
    margin-left: 1px;
  }

  .promtResultImage {
    width: 50px;
    margin-right: 12px;
  }
  .geminiSkeleton {
    margin-left: 50px;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .doctorOverViewMainContainer {
    width: 90%;
  }
  .promptContainer {
    margin-bottom: 2px;
    margin-left: 0px;
    padding: 21px 32px 10px 16px;
  }
  .promptInput {
    width: 600px;
    font-size: 18px;
    padding: 0px 10px 10px 10px;
  }

  .promptResult {
    width: 92%;
    margin-left: 1px;
  }

  .promtResultImage {
    width: 50px;
    margin-right: 12px;
  }
  .geminiSkeleton {
    margin-left: 50px;
    width: 100%;
  }
}
