@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}

.doctorPrescriptionDashboardSecondCard {
  background-color: #f6f7f9;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  height: 100%;
  grid-area: doctorPrescriptionDashboardSecondCard;
}

.doctorPrescriptionMainContainerSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.doctorPrescriptionContainer {
  width: 65%;

  margin: auto;
}
.doctorPrescriptionHeader {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.doctorPrescriptionContent {
  width: 75%;
  margin: auto;
  padding: 13px;
  border: 0.8px solid rgb(6, 42, 74);
}
.addNewFileButton:hover {
  cursor: pointer;
}
.doctorPrescriptionEditor {
  height: 50vh;
  width: 24vw;
  border: 1px solid #14ac5f;
  margin-right: 11px;
  margin-top: 11px;
}
.doctorPrescriptionPatientFile {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .doctorPrescriptionMainContainerSection {
    flex-direction: column;
  }
  .doctorPrescriptionContainer {
    width: 95%;

    margin: auto;
  }

  .doctorPrescriptionContent {
    width: 100%;
  }

  .doctorPrescriptionEditor {
    height: 50vh;
    width: 86vw;
  }
  .doctorPrescriptionPatientFile {
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .doctorPrescriptionMainContainerSection {
    flex-direction: column;
  }
  .doctorPrescriptionContainer {
    width: 95%;

    margin: auto;
  }

  .doctorPrescriptionContent {
    width: 100%;
  }

  .doctorPrescriptionEditor {
    height: 50vh;
    width: 86vw;
  }
  .doctorPrescriptionPatientFile {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .doctorPrescriptionMainContainerSection {
    flex-direction: column;
  }
  .doctorPrescriptionContainer {
    width: 95%;

    margin: auto;
  }

  .doctorPrescriptionContent {
    width: 100%;
  }

  .doctorPrescriptionEditor {
    height: 50vh;
    width: 86vw;
  }
  .doctorPrescriptionPatientFile {
    width: 100%;
  }
}
