@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
  --bodyColor: #000;
  --bodyLink: navy;
}
[data-theme="dark"] {
  --navBarBg: #282c34;
  --bodyColor: white;
  --bodyLink: cyan;
}

.doctorRootDashboard {
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "doctorRootDashboardFirstCard doctorRootDashboardFirstCard"
    "doctorRootDashboardSecondCard doctorRootDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.doctorRootDashboardFirstCard {
  background-color: #282c34;
  /* background-color: var(--navBarBg); */
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: doctorRootDashboardFirstCard;
  color: white;
}
.doctorRootDashboardSecondCard {
  background-color: #f6f7f9;
  background-color: var(--navBarBg);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: doctorRootDashboardSecondCard;

  color: var(--bodyColor);
}
.doctorRootDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.doctorRootDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}
.navBarHamburger {
  color: var(--bodyColor);
}
.doctorRootDashboardLogOutContainer {
  color: var(--bodyColor);
}
.doctorRootDrawerContainer {
  background-color: var(--navBarBg);
  color: var(--bodyColor);
  /* color: rebeccapurple; */
}
.dark_mode {
  margin-top: -20px;
  margin-left: 10px;
}

.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}

@media (max-width: 320px) {
  .doctorRootDashboardLogOutContainer {
    justify-content: space-between;
    width: 70%;
  }
  .doctorRootDashboardNavImage {
    padding: 4px 12px;
    font-size: 22px;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .doctorRootDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .doctorRootDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}
