@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
  --bodyColor: #000;
  --bodyLink: navy;
}
[data-theme="dark"] {
  --navBarBg: #282c34;
  --bodyColor: white;
  --bodyLink: cyan;
}
.doctorViewPatientTable {
  color: var(--bodyColor);
}
.doctorTable {
  color: var(--bodyColor);
}
.rowss {
  color: red;
}

.doctorEditButton {
  padding: 8px;
  border: none;
  font-size: 15px;
  background-color: rgba(52, 152, 219, 0.87);
  color: var(--navBarBg);
  gap: 10px;
  margin-right: 5px;
  transition: 300ms all;
}
.doctorEditButton:hover {
  cursor: pointer;
  background-color: rgb(9, 142, 231);
}

.doctorPrescriptionButton {
  padding: 8px;
  border: none;
  font-size: 15px;
  background-color: rgba(0, 100, 0, 0.87);
  color: var(--navBarBg);
  gap: 10px;
  margin-right: 5px;
  text-decoration: none;
  transition: 300ms all;
}
.doctorPrescriptionButton:hover {
  cursor: pointer;
  background-color: rgb(0, 100, 0);
}

.doctorLabButton {
  padding: 8px;
  border: none;
  font-size: 15px;
  background-color: rgba(255, 0, 0, 0.77);
  color: var(--navBarBg);
  gap: 10px;
  text-decoration: none;
  margin-right: 5px;
  transition: 300ms all;
}
.doctorLabButton:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}

#doctorLabButtons {
  background-color: rgb(240, 127, 79);
}
#doctorLabButtons:hover {
  background-color: rgb(235, 100, 42);
}
