@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}
.DoctorsideBarUnorderList {
  height: 100%;
  margin-top: 61px;
}
.DoctorsideBarUnorderList a.active {
  background-color: #293846;
  background-color: rgb(195, 196, 202, 0.5);
  border-left: 4px solid var(--mainColor);
}
.DoctorsideBarUnorderList .DoctorsideBarLinks {
  width: 100%;
  height: 43px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 14px;
}
.DoctorsideBarLinks:hover {
  cursor: pointer;
  background-color: #293846;
  background-color: rgb(195, 196, 202, 0.5);
  border-left: 4px solid var(--mainColor);
  scale: 0.92;
}
.mainDoctorContainer {
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.geminiContainer {
  height: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  /* background-color: orange; */
  /* margin-left: 16px; */
  width: max-content;
  height: max-content;
}
.promptContainer {
  width: 100%;
  margin: auto;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 14px;
  margin-bottom: 12px;
  margin-left: 12px;
  align-items: flex-start;
  /* justify-content: center; */
  padding: 21px 32px 10px 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  /* background-color: #14ac5f; */
  /* margin-top: 30%; */
  /* margin-left: 12px; */
}
.promptInput {
  border: none;
  width: 800px;
  color: #000;
  outline: none;
  font-size: 18px;
  text-align: justify;
  background: transparent;
  text-transform: capitalize;
  padding: 0px 10px 10px 10px;
}

.promptResult {
  width: 80%;
  float: left;
  margin-left: 14px;
  margin-top: 12px;
  text-align: justify;
  /* display: none; */
}

.promtResultImage {
  width: 50px;
  float: left;
  margin-right: 12px;
}
.geminiSkeleton {
  margin-left: 50px;
  width: 100%;
}
