@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
  --bodyColor: #000;
  --bodyLink: navy;
}
[data-theme="dark"] {
  --navBarBg: #282c34;
  --bodyColor: white;
  --bodyLink: cyan;
}
.doctorViewPatientTable {
  color: var(--bodyColor);
}
.doctorTable {
  color: var(--bodyColor);
}
.rowss {
  color: red;
}
