@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
  --bodyColor: #000;
  --bodyLink: navy;
}

.doctorRootDashboard {
  background-color: rgb(195, 196, 202, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "doctorRootDashboardFirstCard doctorRootDashboardFirstCard"
    "doctorRootDashboardSecondCard doctorRootDashboardSecondCard";
  gap: 10px;
  height: 100vh;
}
.doctorRootDashboardFirstCard {
  background-color: #282c34;
  /* background-color: var(--navBarBg); */
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  grid-area: doctorRootDashboardFirstCard;
  color: white;
}
.doctorRootDashboardSecondCard {
  background-color: #f6f7f9;
  background-color: var(--navBarBg);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  grid-area: doctorRootDashboardSecondCard;

  color: var(--bodyColor);
}
.doctorRootDashboardNavBarContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.doctorRootDashboardLogOutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}
.navBarHamburger {
  color: var(--bodyColor);
}
.doctorRootDashboardLogOutContainer {
  color: var(--bodyColor);
}
@media (max-width: 320px) {
  .doctorRootDashboardLogOutContainer {
    justify-content: space-between;
    width: 70%;
  }
  .doctorRootDashboardNavImage {
    padding: 4px 12px;
    font-size: 22px;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .doctorRootDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .doctorRootDashboardLogOutContainer {
    justify-content: space-evenly;
    width: 70%;
  }
}
