@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
:root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

/* service Start */
.contactHeroContainer {
  width: 100%;
  height: 740px;
  background: url("../assets/images/HMBG\ 1.webp");
  background-color: var(--navBarBg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;
}
.contactHeroContainer h1 {
  font-size: 62px;
  font-weight: bolder;
  color: white;
}
.contacteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.2);
}
.contactTextFormContainer {
  padding-top: 20px;
  padding-bottom: 50px;
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  /* background-color: orange; */
}
.contactGetInTouchContainer {
  width: 50%;
  margin-right: 30px;
}
.contactGetInTouchContainer h1 {
  font-weight: bolder;
  font-size: 32px;
  border-bottom: 2px solid var(--mainColor);
  padding-bottom: 17px;
  margin-bottom: 19px;
}
.contactGetInTouchContainer hr {
  font-weight: bold;
  font-size: 3px;
  margin-bottom: 17px;
  color: var(--mainColor);
}
.contactAddressContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 16px;
  background-color: aliceblue;
  padding: 14px 0;
}
.contactIcon {
  font-size: 32px;
  color: var(--mainColor);
  margin-right: 18px;
}
#addressIcon {
  margin-right: 28px;
}
.contactEmailContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 16px;
  background-color: aliceblue;
  padding: 14px 0;
}
.contactTelContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: aliceblue;
  padding: 14px 0;
  margin-bottom: 16px;
}
.contactinfo {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.contactFormContainer {
  width: 50%;
  padding-bottom: 25px;
  /* height: 430px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: aliceblue; */
  border: 1.8px solid rgb(209, 209, 209);
  color: var(--mainColor);
  padding-top: 25px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 25px;
  margin-top: 25px;

  width: 91%;
}
.contactInput {
  font-size: 15px;
  width: 100%;
  background: transparent;
  border: 0.7px solid rgba(0, 0, 0, 0.4);
  padding: 8px 17px;
  outline: none;
}
.formButton {
  border: none;
  font-size: 15px;
  padding: 9px 18px;
  background-color: var(--mainColor);
  transition: 300ms all;
  color: var(--navBarBg);
}
.formButton:hover {
  cursor: pointer;
  filter: drop-shadow(6px 5px 4px rgba(0, 0, 0, 0.2));
}

.contactMapContent {
  width: 90%;
  height: 60vh;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: auto;
}
/* service Endss */

/* Media Queries Start */

@media (max-width: 320px) {
  .contactHeroContainer {
    height: 570px;
    padding-left: 0%;
  }
  .contactHeroContainer h1 {
    font-size: 32px;
  }
  .contacteOverlay {
    height: 100%;
  }
  .contactTextFormContainer {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    margin: auto;
  }
  .contactGetInTouchContainer {
    width: 100%;
    margin-right: 0px;
  }
  .contactGetInTouchContainer h1 {
    font-size: 32px;
    padding-bottom: 17px;
    margin-bottom: 19px;
  }
  .contactGetInTouchContainer hr {
    font-size: 3px;
    margin-bottom: 17px;
  }
  .contactAddressContainer {
    margin-bottom: 16px;
    padding: 14px 0;
  }
  .contactIcon {
    font-size: 22px;
    margin-right: 8px;
  }
  #addressIcon {
    margin-right: 16px;
  }
  .contactEmailContainer {
    margin-bottom: 16px;
    padding: 14px 0;
    width: 100%;
  }
  .contactTelContainer {
    padding: 14px 0;
    margin-bottom: 15px;
  }
  .contactinfo {
    gap: 4px;
  }
  .contactFormContainer {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .formContainer {
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
  }
  .contactInput {
    font-size: 15px;
    width: 100%;
    padding: 8px 17px;
  }
  .formButton {
    font-size: 15px;
    padding: 9px 18px;
  }
  .contactMapContent {
    width: 96%;
    height: 30vh;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .contacteOverlay {
    height: 70%;
  }
  .contactHeroContainer {
    height: 570px;
    padding-left: 0%;
  }
  .contactHeroContainer h1 {
    font-size: 32px;
  }
  .contactTextFormContainer {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    margin: auto;
  }
  .contactGetInTouchContainer {
    width: 100%;
    margin-right: 0px;
  }
  .contactGetInTouchContainer h1 {
    font-size: 32px;
    padding-bottom: 17px;
    margin-bottom: 19px;
  }
  .contactGetInTouchContainer hr {
    font-size: 3px;
    margin-bottom: 17px;
  }
  .contactAddressContainer {
    margin-bottom: 16px;
    padding: 14px 0;
  }
  .contactIcon {
    font-size: 22px;
    margin-right: 8px;
  }
  #addressIcon {
    margin-right: 16px;
  }
  .contactEmailContainer {
    margin-bottom: 16px;
    padding: 14px 0;
    width: 100%;
  }
  .contactTelContainer {
    padding: 14px 0;
    margin-bottom: 15px;
  }
  .contactinfo {
    gap: 4px;
  }
  .contactFormContainer {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .formContainer {
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
  }
  .contactInput {
    font-size: 15px;
    width: 100%;
    padding: 8px 17px;
  }
  .formButton {
    font-size: 15px;
    padding: 9px 18px;
  }
  .contactMapContent {
    width: 96%;
    height: 30vh;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .contacteOverlay {
    height: 71.5%;
  }
  .contactHeroContainer {
    height: 570px;
    padding-left: 0%;
  }
  .contactHeroContainer h1 {
    font-size: 32px;
  }
  .contactTextFormContainer {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    margin: auto;
  }
  .contactGetInTouchContainer {
    width: 100%;
    margin-right: 0px;
  }
  .contactGetInTouchContainer h1 {
    font-size: 32px;
    padding-bottom: 17px;
    margin-bottom: 19px;
  }
  .contactGetInTouchContainer hr {
    font-size: 3px;
    margin-bottom: 17px;
  }
  .contactAddressContainer {
    margin-bottom: 16px;
    padding: 14px 0;
  }
  .contactIcon {
    font-size: 22px;
    margin-right: 8px;
  }
  #addressIcon {
    margin-right: 16px;
  }
  .contactEmailContainer {
    margin-bottom: 16px;
    padding: 14px 0;
    width: 100%;
  }
  .contactTelContainer {
    padding: 14px 0;
    margin-bottom: 15px;
  }
  .contactinfo {
    gap: 4px;
  }
  .contactFormContainer {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .formContainer {
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
  }
  .contactInput {
    font-size: 15px;
    width: 100%;
    padding: 8px 17px;
  }
  .formButton {
    font-size: 15px;
    padding: 9px 18px;
  }
  .contactMapContent {
    width: 96%;
    height: 30vh;
  }
}

/* Media Queries Ends */
