@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
:root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}

* {
  /* list-style: none;
  text-decoration: none; */
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin-top: 0px;
}

/* Home Starts */
.homeBodyContainer {
  padding: 0;
  margin-top: 0px;
}
.homeContainer {
  margin-top: 0px;
}
.homeImageContainer {
  position: relative;
  overflow: hidden;
}
.homeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.homeContent {
  top: 25%;
  left: 5%;
  width: 40%;
  text-align: start;
  position: absolute;
  padding: 44px 0px 44px 0px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.homeContent h1 {
  color: var(--mainColor);
  text-align: center;
}
.homeContent p {
  display: flex;
  text-align: justify;
  font-size: 17px;
  font-weight: 500;
  width: 90%;
  padding-left: 10%;
  line-height: 27px;
}
.homeContent button {
  margin-left: 10%;
  padding: 9px 20px;
  border-radius: 10px;
  background-color: var(--navBarBg);
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  font-weight: bolder;
  font-size: 16px;
  transition: 300ms ease-in-out;
}
.homeContent button:hover {
  background-color: var(--mainColor);
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  color: var(--navBarBg);
  cursor: pointer;
}

/* About Us Starts */
.aboutContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 32px;
  /* width: 100%; */
}
.aboutImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 65%;
  object-fit: cover;
}
.aboutTextContainer {
  width: 70%;
}

.aboutTextContainer h2 {
  text-align: center;
  font-size: 48px;
}
.aboutTextContainer h2 span {
  color: var(--mainColor);
  font-weight: 900;
}
.aboutTextContainer p {
  text-align: justify;
  padding: 24px 0px 24px 82px;
  line-height: 28px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
.aboutTextContainer a {
  margin-left: 82px;
  font-size: 15px;
  font-weight: bolder;
  padding: 8px 20px;
  border-radius: 8px;
  color: var(--mainColor);
  background-color: transparent;
  border: 2px solid var(--mainColor);
  text-decoration: none;
  transition: 300ms ease-in-out;
}
.aboutTextContainer a:hover {
  color: var(--navBarBg);
  cursor: pointer;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  background-color: var(--mainColor);
}

/* About Us Ends */

/* Our Services Starts */
.ourServicesTitle {
  text-align: center;
  margin-top: 52px;
  margin-bottom: 22px;
  font-size: 48px;
}
.ourServicesTitle span {
  color: var(--mainColor);
}

.homeServiceContainer {
  /* width: 68%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 14px;
  width: 50%;
  margin: auto;
}
.homeServiceCardContainer {
  margin-right: 15px;
  margin-top: 11px;
}
.homeServiceButtonContainer {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
}
.homeServicesButton {
  margin-top: 11px;
  padding: 10px 20px;
  border: none;
  color: var(--navBarBg);
  font-size: 16px;
  background-color: var(--mainColor);
  transition: 300ms all;
}
.homeServicesButton:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
}

.homeWhyUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}
.homeWhyUsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeWhyUsHeader h1 {
  font-size: 42px;
}
.homeWhyUsFirst {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#homeWhyUsFirstId {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.homeWhyUsIcon {
  font-size: 28px;
  color: var(--mainColor);
  margin-right: 8px;
}
.homeWhyUsFirstHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.homeWhyUsFirstContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 0.4px solid var(--mainColor);
  margin-right: 9px;
  padding: 13px;
  background-color: aliceblue;
  width: 60%;
}
#homeWhyUsLastContent {
  padding-bottom: 35px;
}
.homeCounterParentContainerSection {
  margin-top: 50px;
}
.homeCounterParentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  /* background-color: aqua; */
}
.homeCountContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 19px;
}
.homeCountContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #14ac5f;
  padding: 20px;
  margin-right: 10px;
  background-color: aliceblue;
}
.homeCounterNumber {
  font-size: 42px;
  font-weight: 500;
}
.homeCountTitle {
  font-size: 42px;
  margin-bottom: 8px;
}
/* Our Sercies Ends */
.homeMissionVisiionSection {
  width: 50%;
  margin: auto;
}
.homeMissionVisionContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 30px;
  /* background-color: pink; */
}
.homeMissionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: orange; */
  width: 50%;
  height: 100%;
}
.homeMissionContent p {
  font-size: 19px;
  line-height: 26px;
  /* text-align: justify; */
  width: 94%;
}
.homeMissionContent h2 {
  font-size: 41px;
}
.homeVisionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 30px;
  border-left: 3px solid black;
  /* background-color: rgb(119, 146, 119); */
  width: 50%;
}
.homeVisionContent h2 {
  font-size: 41px;
}
.homeVisionContent p {
  font-size: 19px;
  line-height: 26px;
  /* text-align: justify; */
}
/* Home Ends */
/* Media Queries Start */

@media (max-width: 320px) {
  .homeImage {
    height: 588px;
  }

  .homeContent {
    top: 10%;
    left: 5%;
    width: 90%;
    padding: 34px 10px 24px 10px;
  }
  .homeContent h1 {
    font-size: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .homeContent p {
    width: 100%;
    font-size: 14px;
    margin-top: 14px;
    line-height: 21px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .homeContent button {
    font-size: 13px;
    margin-left: 0%;
    padding: 7px 17px;
  }

  /* About Us Starts */
  .aboutContainer {
    flex-direction: column-reverse;
  }
  .aboutImage {
    display: flex;
    justify-content: center;
    width: 96%;
    object-fit: cover;
  }
  .aboutTextContainer {
    width: 90%;
    margin-bottom: 20px;
  }

  .aboutTextContainer h2 {
    text-align: center;
    font-size: 41px;
  }
  .aboutTextContainer p {
    padding: 0px 0px 20px 0px;
    line-height: 23px;
  }
  .aboutTextContainer a {
    margin-left: 0px;
  }

  /* About Us Ends */

  /* Our Service Starts */

  .homeServiceContainer {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1px;
    width: 94%;
  }
  .homeServiceCardContainer {
    margin-right: 1px;
  }
  .homeServiceButtonContainer {
    justify-content: center;
    width: 100%;
  }
  .homeWhyUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  .homeWhyUsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homeWhyUsFirst {
    margin-top: 15px;
    flex-direction: column;
    gap: 8px;
  }
  #homeWhyUsFirstId {
    margin-top: 20px;
  }
  .homeWhyUsFirstHeader {
    flex-direction: column;
  }
  .homeWhyUsFirstContent {
    margin-left: 4px;
    margin-right: 4px;
  }
  .homeCounterParentContainerSection {
    margin-top: 50px;
  }
  .homeCounterParentContainer {
    width: 100%;
  }
  .homeCountContainer {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0px;
    gap: 12px;
  }

  .homeCounterNumber {
    font-size: 32px;
  }
  .homeCountTitle {
    font-size: 32px;
    margin-bottom: 8px;
  }

  /* Our Service Ends */

  /* mission start */
  .homeMissionVisiionSection {
    width: 80%;
    margin: 0 10%;
  }
  .homeMissionVisionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 30px;
    /* background-color: pink; */
  }
  .homeMissionContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: orange; */
    width: 50%;
    height: 100%;
  }
  .homeMissionContent p {
    font-size: 19px;
    line-height: 26px;
    /* text-align: justify; */
    width: 94%;
  }
  .homeMissionContent h2 {
    font-size: 41px;
  }
  .homeVisionContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 30px;
    border-left: 3px solid black;
    /* background-color: rgb(119, 146, 119); */
    width: 50%;
  }
  .homeVisionContent h2 {
    font-size: 41px;
  }
  .homeVisionContent p {
    font-size: 19px;
    line-height: 26px;
    /* text-align: justify; */
  }
  /* mission Ends */
}

@media (min-width: 321px) and (max-width: 640px) {
  .homeImage {
    height: 688px;
  }

  .homeContent {
    top: 10%;
    left: 5%;
    width: 90%;
    padding: 34px 10px 24px 10px;
  }
  .homeContent h1 {
    font-size: 24px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .homeContent p {
    width: 100%;
    font-size: 17px;
    margin-top: 14px;
    line-height: 29px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .homeContent button {
    font-size: 18px;
    margin-left: 0%;
    padding: 7px 17px;
  }
  /* About Us Starts */
  .aboutContainer {
    flex-direction: column-reverse;
  }
  .aboutImage {
    display: flex;
    justify-content: center;
    width: 96%;
    object-fit: cover;
  }
  .aboutTextContainer {
    width: 90%;
    margin-bottom: 20px;
  }

  .aboutTextContainer h2 {
    text-align: center;
    font-size: 41px;
  }
  .aboutTextContainer p {
    padding: 0px 0px 20px 0px;
    line-height: 23px;
  }
  .aboutTextContainer a {
    margin-left: 0px;
  }
  .cardContainer {
    margin-right: 25px;
    margin-top: 11px;
  }
  /* About Us Ends */

  /* Our Service Starts */

  .homeServiceContainer {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1px;
    width: 94%;
  }
  .homeServiceCardContainer {
    margin-right: 1px;
  }
  .homeServiceButtonContainer {
    justify-content: center;
    width: 100%;
  }
  .homeWhyUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  .homeWhyUsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homeWhyUsFirst {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }
  #homeWhyUsFirstId {
    margin-top: 20px;
  }
  .homeWhyUsFirstHeader {
    flex-direction: column;
  }
  .homeWhyUsFirstContent {
    margin-left: 10px;
    margin-right: 10px;
  }
  .homeCounterParentContainerSection {
    margin-top: 50px;
  }
  .homeCounterParentContainer {
    width: 100%;
  }
  .homeCountContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1px;
    margin-top: 0px;
    gap: 12px;
  }
  .homeCountContent {
    padding: 14px;
  }
  .homeCounterNumber {
    font-size: 32px;
  }
  .homeCountTitle {
    font-size: 32px;
    margin-bottom: 8px;
  }

  /* Our Service Ends */

  /* mission start */
  .homeMissionVisiionSection {
    width: 90%;
    margin: 0% 5%;
  }
  .homeMissionVisionContainer {
    flex-direction: column;
  }
  .homeMissionContent {
    flex-direction: column;
    width: 90%;
  }

  .homeVisionContent {
    flex-direction: column;

    border: none;

    width: 90%;
    padding-left: 0px;
  }

  /* mission Ends */
}

@media (min-width: 641px) and (max-width: 1024px) {
  .homeImage {
    height: 688px;
  }

  .homeContent {
    top: 20%;
    left: 5%;
    width: 80%;
    padding: 34px 10px 44px 10px;
  }
  .homeContent h1 {
    font-size: 32px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .homeContent p {
    width: 100%;
    font-size: 20px;
    margin-top: 14px;
    line-height: 36px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .homeContent button {
    font-size: 21px;
    margin-left: 0%;
    padding: 7px 17px;
  }
  /* About Us Starts */
  .aboutContainer {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 32px;
  }
  .aboutImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  .aboutImage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 92%;
    object-fit: cover;
  }
  .aboutTextContainer {
    width: 70%;
  }

  .aboutTextContainer h2 {
    text-align: center;
    font-size: 48px;
  }
  .aboutTextContainer p {
    padding: 20px 20px 24px 20px;
    line-height: 23px;
  }
  .aboutTextContainer a {
    margin-left: 22px;
  }

  /* About Us Ends */
  /* Our Service Starts */

  .homeServiceContainer {
    grid-template-columns: repeat(2, 1fr);
    /* row-gap: 5px; */
    gap: 8px;
    width: 94%;
  }
  .homeServiceCardContainer {
    margin-right: 1px;
  }
  .homeServiceButtonContainer {
    justify-content: center;
    width: 100%;
  }
  .homeWhyUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  .homeWhyUsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homeWhyUsFirst {
    margin-top: 10px;
    flex-direction: row;
    gap: 10px;
  }

  #homeWhyUsFirstId {
    margin-top: 20px;
  }
  .homeWhyUsFirstHeader {
    flex-direction: column;
  }
  .homeWhyUsFirstContent {
    margin-left: 10px;
    margin-right: 10px;
  }
  .homeCounterParentContainerSection {
    margin-top: 50px;
  }
  .homeCounterParentContainer {
    width: 100%;
  }
  .homeCountContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1px;
    margin-top: 0px;
    gap: 12px;
  }
  .homeCountContent {
    padding: 14px;
  }
  .homeCounterNumber {
    font-size: 32px;
  }
  .homeCountTitle {
    font-size: 32px;
    margin-bottom: 8px;
  }

  /* Our Service Ends */
}
/* mission start */
.homeMissionVisiionSection {
  width: 60%;
  margin: auto;
}
.homeMissionVisionContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 30px;
  /* background-color: pink; */
}
.homeMissionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: orange; */
  width: 80%;
  height: 100%;
}
.homeMissionContent p {
  font-size: 19px;
  line-height: 26px;
  /* text-align: justify; */
  width: 94%;
}
.homeMissionContent h2 {
  font-size: 41px;
}
.homeVisionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 30px;
  border-left: 3px solid black;
  /* background-color: rgb(119, 146, 119); */
  width: 80%;
}
.homeVisionContent h2 {
  font-size: 41px;
}
.homeVisionContent p {
  font-size: 19px;
  line-height: 26px;
  /* text-align: justify; */
}
/* mission Ends */

/* Media Queries Ends */
