@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
:root {
  --mainColor: #14ac5f;
  --navBarBg: #fff;
}

* {
  /* list-style: none;
  text-decoration: none; */
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

/* service Start */
.ourServiceHeroContainer {
  width: 100%;
  height: 740px;
  background: url("../assets/images/hospital\ image5.webp");
  background-color: var(--navBarBg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;
}
.ourServiceHeroContainer h1 {
  font-size: 62px;
  font-weight: bolder;
  color: white;
}
.ourServiceOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.3);
}
.ourServiceServicesContainer {
  margin-top: 30px;
}
.ourServiceContainer {
  /* width: 68%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 14px;
  width: 60%;
  margin: auto;
}
.ourServiceCardContainer {
  margin-right: 15px;
  margin-top: 11px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
}
.ourServiceWhyUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}
.ourServiceWhyUsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ourServiceWhyUsHeader h1 {
  font-size: 42px;
}
.ourServiceWhyUsFirst {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#ourServiceWhyUsFirstId {
  margin-top: 50px;
}
.ourServiceWhyUsIcon {
  font-size: 28px;
  color: var(--mainColor);
  margin-right: 8px;
}
.ourServiceWhyUsFirstHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.ourServiceWhyUsFirstContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 0.4px solid var(--mainColor);
  margin-right: 9px;
  padding: 13px;
  background-color: aliceblue;
  width: 60%;
}
#serviceWhyUsLastContent {
  padding-bottom: 22px;
}
/* service Endss */

/* Media Queries Start */

@media (max-width: 320px) {
  /* Our Service Starts */

  .ourServiceContainer {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1px;
    width: 94%;
  }
  .ourServiceCardContainer {
    margin-right: 1px;
  }

  .ourServiceWhyUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  .ourServiceWhyUsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ourServiceWhyUsFirst {
    margin-top: 15px;
    flex-direction: column;
    gap: 8px;
  }
  #ourServiceWhyUsFirstId {
    margin-top: 20px;
  }
  .ourServiceWhyUsFirstHeader {
    flex-direction: column;
  }
  .ourServiceWhyUsFirstContent {
    margin-left: 4px;
    margin-right: 4px;
  }

  /* Our Service Ends */
}

@media (min-width: 321px) and (max-width: 640px) {
  /* Our Service Starts */

  .ourServiceContainer {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1px;
    width: 94%;
  }
  .ourServiceCardContainer {
    margin-right: 1px;
  }

  .ourServiceWhyUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  .ourServiceWhyUsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ourServiceWhyUsFirst {
    margin-top: 15px;
    flex-direction: column;
    gap: 8px;
  }
  #ourServiceWhyUsFirstId {
    margin-top: 20px;
  }
  .ourServiceWhyUsFirstHeader {
    flex-direction: column;
  }
  .ourServiceWhyUsFirstContent {
    margin-left: 4px;
    margin-right: 4px;
  }

  /* Our Service Ends */
}

@media (min-width: 641px) and (max-width: 1024px) {
  /* Our Service Starts */

  .ourServiceContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 94%;
  }
  .ourServiceCardContainer {
    margin-right: 1px;
  }

  .ourServiceWhyUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  .ourServiceWhyUsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ourServiceWhyUsFirst {
    margin-top: 10px;
    flex-direction: row;
    gap: 10px;
  }
  #ourServiceWhyUsFirstId {
    margin-top: 20px;
  }
  .ourServiceWhyUsFirstHeader {
    flex-direction: column;
  }
  .ourServiceWhyUsFirstContent {
    margin-left: 4px;
    margin-right: 4px;
  }

  /* Our Service Ends */
}

/* Media Queries Ends */
